section.container {
    width: 992px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
    padding: 0 .75rem;

    h2 {
        margin-bottom: 1rem;
    }

    .table-responsive {
        width: 100%;
        padding: .75rem .75rem 1rem;
        overflow-x: auto;
        box-shadow: rgba(50, 50, 93, .25) 0px 2px 5px -1px, rgba(0, 0, 0, .3) 0px 1px 3px -1px;
        -moz-box-shadow: rgba(50, 50, 93, .25) 0px 2px 5px -1px, rgba(0, 0, 0, .3) 0px 1px 3px -1px;
        -webkit-box-shadow: rgba(50, 50, 93, .25) 0px 2px 5px -1px, rgba(0, 0, 0, .3) 0px 1px 3px -1px;

        table {
            border-collapse: collapse;
            width: 100%;

            th,
            td {
                padding: .5rem;
            }

            tr {
                border-bottom: 1px solid #000;
            }

            thead {
                tr {
                    font-size: .875rem;
                }
            }

            tbody {
                tr {
                    font-size: .75rem;

                    td {
                        text-align: center;
                    }
                }
            }
        }
    }
}
