section.container {
  width: 992px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  flex-grow: 1;
  padding: 0 .75rem;
  
  h2 {
    margin-bottom: 1rem;
  }

  .table-responsive {
    width: 100%;
    padding: .75rem .75rem 1rem;
    overflow-x: auto;
    box-shadow:
      0 2px 1px -1px rgba(0, 0, 0, .2),
      0 1px 1px 0 rgba(0, 0, 0, .141),
      0 1px 3px 0 rgba(0, 0, 0, .122);
    -moz-box-shadow:
      0 2px 1px -1px rgba(0, 0, 0, .2),
      0 1px 1px 0 rgba(0, 0, 0, .141),
      0 1px 3px 0 rgba(0, 0, 0, .122);
    -webkit-box-shadow:
      0 2px 1px -1px rgba(0, 0, 0, .2),
      0 1px 1px 0 rgba(0, 0, 0, .141),
      0 1px 3px 0 rgba(0, 0, 0, .122);

    table {
      width: 100%;

      th,
      td {
        padding: .5rem;
      }

      thead {
        tr {
          font-size: .875rem;
        }
      }

      tbody {
        tr {
          font-size: .75rem;

          td {
            text-align: center;
          }
        }
      }
    }
  }
}
